<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form - Organizer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login_and_registry/registration.css}"/>

</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
<form th:action="@{/register}" th:object="${newUser}" method="post">
    <div class="container-fluid containerForInputs">
        <h4 class="text-light text-center">User registration</h4>
        <br>
        <div class="form-group formContainer">
            <div class="row">
                <div class="col-3">
                    <label for="name_input">Name</label>
                </div>
                <div class=" col-6">
                    <input type="text" class="form-control " id="name_input" aria-describedby="nameHelp"
                           placeholder="Name" th:field="*{firstName}">
                </div>
            </div>

            <div class="row">
                <div class="offset-3 col-9 text-wrap">

            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                  class="login-info-message">Name Error</span>
                </div>
            </div>
        </div>
        <div class="form-group formContainer">
            <div class="row">
                <div class="col-3">
                    <label for="surname_input">Last name</label>
                </div>
                <div class=" col-6">
                    <input type="text" class="form-control " id="surname_input" aria-describedby="surnameHelp"
                           placeholder="Last name" th:field="*{secondName}">
                </div>
            </div>

            <div class="row">
                <div class="offset-3 col-9 text-wrap">
                        <span th:if="${#fields.hasErrors('secondName')}" th:errors="*{secondName}"
                              class="login-info-message">Surname Error</span>
                </div>
            </div>
        </div>
        <div class="form-group formContainer">
            <div class="row">
                <div class="col-3">
                    <label for="nick_input">Nick</label>
                </div>
                <div class=" col-6">
                    <input type="text" class="form-control " id="nick_input" aria-describedby="nick_inputHelp"
                           placeholder="Nick" th:field="*{nick}">
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-9 text-wrap">
                <span th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"
                      class="login-info-message">Nick Error</span>
                </div>
            </div>
        </div>


        <div class="form-group formContainer">
            <div class="row">
                <div class="col-3">
                    <label for="exampleInputEmail1">Email address</label>
                </div>
                <div class=" col-6">
                    <input type="email" class="form-control " id="exampleInputEmail1"
                           aria-describedby="emailHelp"
                           placeholder="Email address" th:field="*{email}">
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-9 text-wrap">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                  class="login-info-message">Email Error</span>
                </div>
            </div>
        </div>

        <div class="form-group formContainer">
            <div class="row">
                <div class="col-3">
                    <label  for="exampleInputPassword1">Password</label>
                </div>
                <div class=" col-6">
                    <input type="password" class="form-control " id="exampleInputPassword1"
                           placeholder="Password"
                           aria-describedby="passwordHelp"
                           th:field="*{password}">
                </div>
            </div>
            <div class="row text-wrap ">
                <small id="passwordHelp" class="form-text offset-3 col-6 text-light ">
                    The password should consist of at least 8 characters, including capital letter, number and special character.</small>
                <div class="offset-3 col-9 ">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                      class="login-info-message">Password Error</span>
                </div>
            </div>
        </div>

        <div class="form-group formContainer">
            <div class="row">
                <div class="col-3">
                    <label for="matchingPassword">Repeat the password</label>
                </div>
                <div class=" col-6">
                    <input type="password" class="form-control " id="matchingPassword"
                           placeholder="Password"
                           th:field="*{matchingPassword}">
                </div>
            </div>
            <div class="row">
                <div class="offset-3 col-9 text-wrap">
            <span th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
                  class="login-info-message">Password Error</span>
                </div>
            </div>
        </div>

        <div>
            <div class="form-group formContainer">
                <div class="row">
                    <div class="col-3">
                        <label for="roles">Role</label>
                    </div>
                    <div class=" col-3">
                        <select id="roles" th:field="*{roles}">
                            <option th:each="role:${T(com.gbarwinski.organizerspring.registration_login_logout.DTO.Roles).values()}"
                                    th:value="${role}" th:text="${role}"></option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="offset-3 col-9 text-wrap">

                        <span th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
                              class="login-info-message">Password Error</span>
                        </div>
                    </div>
                </div>
            </div>
                <br>
                <a th:href="'/login'" class="btn btn-secondary float-right mx-1">Return to login page</a>

                <button type="submit" class="btn btn-primary float-right">Sign up</button>

            </div>
        </div>
    </div>
</form>

</body>
</html>