<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layoutDashboard.html}">
<head>
    <title>Edit task - Organizer</title>
</head>

<th:block layout:fragment="content">
    <div class="modal fade" id="myEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content modaledit">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit type of story</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{${#request.getRequestURI()}(id=${#request.getParameter('id')})}"
                      th:object="${oldTask}" method="post">
                    <div class="modal-body">
                        <div class='form-group'>
                            <label for='project'>Project</label><span class="required">*</span>
                            <select id='project' th:field="${oldTask.project}">
                                <option th:each="project:${projectList}"
                                        th:value="${project.id}"
                                        th:text="${project.name}"
                                        th:selected="${project.id==oldTask.project.id}">
                                </option>
                            </select>
                            <div th:if="${#fields.hasErrors('project')}" class="errorRED" th:errors="*{project}">Choose the project</div>

                        </div>
                        <br>

                        <div class='form-group'><label for='typeOfStory'>Type of story</label><span
                                class="required">*</span>
                            <select id='typeOfStory' th:field="${oldTask.typeOfStory}">
                                <option th:each="type:${T(com.gbarwinski.organizerspring.main_content.model.TypeOfStory).values()}"
                                        th:value="${type}"
                                        th:text="${type}"
                                        th:selected="${type==oldTask.typeOfStory}">

                                </option>
                            </select>
                            <div th:if="${#fields.hasErrors('typeOfStory')}" class="errorRED"
                                 th:errors="*{typeOfStory}">Choose type of story
                            </div>

                        </div>

                        <br>
                        <div class='form-group'>
                            <label for='name'>Summary</label><span class="required">*</span>
                            <input id='name' class='form-control w-50' type='text' th:field="${oldTask.name}">
                            <div th:if="${#fields.hasErrors('name')}" class="errorRED" th:errors="*{name}">Correct the summary name</div>

                        </div>

                        <div class='form-group'><label for='description'>Description</label>
                            <textarea id='description' class='form-control' type='text'
                                      th:field="${oldTask.description}" rows="5"></textarea>
                            <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                                 class="errorRED">Correct the description name
                            </div>

                        </div>

                        <div class='form-group'>
                            <label for='Priority'>Priority</label><span class="required">*</span>
                            <select id='Priority' th:field="${oldTask.priority}">
                                <option th:each="priority:${T(com.gbarwinski.organizerspring.main_content.model.Priority).values()}"
                                        th:value="${priority}"
                                        th:text="${priority}"
                                        th:selected="${priority==oldTask.priority}"
                                ></option>
                            </select>
                            <div th:if="${#fields.hasErrors('Priority')}" th:errors="*{priority}">Choose the priority
                            </div>

                        </div>
                        <div class='form-group'>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-3">
                                    <label for='AttachedUser'>Assigned User:</label>
                                </div>

                                <div class="col-lg-2 col-md-2  col-sm-2 col-3">
                                    <p id='AttachedUser'
                                       th:text="${oldTask.user==null}? 'No assigned user': ${oldTask.user.name+' '+oldTask.user.surname}"></p>
                                </div>


                                <div class="offset-lg-2 offset-md-2 offset-sm-2  col-lg-2 col-md-2  col-sm-2   col-3 px-1">
                                    <label for='user'>Add new user to task:</label>
                                </div>

                                <div class="col-lg-3 col-md-3  col-sm-3  col-3 ">

                                    <select id='user'  th:field="${oldTask.user}">
                                        <option th:value="null"></option>
                                        <option th:each="user:${usersAssignedToProject}"
                                                th:value="${user.idUser}"
                                                th:text="${user.name+' '+user.surname}"
                                                th:selected="${user==oldTask.user}"
                                        ></option>
                                    </select>
                                    <div th:if="${#fields.hasErrors('user')}" th:errors="*{user}">Choose the priority
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a type="button" th:href="@{/deletetask(id=${oldTask.idTask})}"
                           class="btn btn-warning">Delete</a>
                        <button type="submit" class="btn btn-primary edittaskbtn"
                                th:id="'edittaskbtn_'+${oldTask.idTask}+'_'+${ActualUser.idUser}">Save
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>


            </form>
        </div>
    </div>
    </div>
</th:block>

<th:block layout:fragment="scripts">
    <script src="../../js/dashboard/editTask.js"></script>
    <script src="../../js/navbar/taskNewInfromationMessanger.js"></script>
</th:block>